{% extends "base.html" %}

{% block title %}
<title>Sobre Nosotros - Core Admin 2025</title>
{% endblock title %}

{% block content %}
<section>
    <p>Bienvenido a Core Admin, tu sistema de gestión para el año 2025.</p>
    <h1>Nuestra Misión</h1>
    <p>Nuestra mision es en core admin ser el sistema mas eficaz y confiable</p>
</section>

<section>
    <h2>Visión</h2>
    <p>Ser el sistema de gestión más confiable y eficiente del mercado.</p>
</section>
{% endblock content %}

{% block footer %}
<p>&copy; 2025 Core Admin. Todos los derechos reservados.</p>
{% endblock footer %}
