<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="{% url "about" %}" >about</a></li>
                <li><a href="{% url "contact" %}">Contact</a></li>
                <li><a href="{% url "login" %}">Login</a></li>
            </ul>
        </nav>
    </header>
</body>
    <main>
        <div class="login-container">
            <h2>Iniciar Sesión</h2>
            {% if form.errors %}
                <div class="error">Usuario o contraseña incorrectos.</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <label for="id_username">Usuario</label>
                <input type="text" name="username" id="id_username" required autofocus>
                <label for="id_password">Contraseña</label>
                <input type="password" name="password" id="id_password" required>
                <button type="submit">Entrar</button>
            </form>
            <p>¿No tienes una cuenta? <a href="">Regístrate aquí</a></p>
        </div>
    </main>
</body>
</html>